@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&: is(.dark *));

:root {
  --text-primary: var(--color-gray-700);
  --text-secondary: var(--color-gray-600);
  --text-muted: var(--color-gray-500);
  --like-text: var(--color-red-500);
  --background: #f3f5f9;
  --foreground: #375147;
  --card: #ffffff;
  --card-foreground: #375147;
  --popover: #ffffff;
  --popover-foreground: #375147;
  --primary: #70aeff;
  --primary-foreground: #ffffff;
  --secondary: #e5e7f5;
  --secondary-foreground: #4b6359;
  --muted: #e5e7f5;
  --muted-foreground: #6b8079;
  --accent: #e5e7f5;
  --accent-foreground: #375147;
  --destructive: #fca5fc;
  --destructive-foreground: #ffffff;
  --border: #e5e7f5;
  --input: #e5e7f5;
  --ring: #8bdefa;
  --chart-1: #8bdefa;
  --chart-2: #5cc7f6;
  --chart-3: #3aabed;
  --chart-4: #2894d9;
  --chart-5: #217cb6;
  --sidebar: #e5e7f5;
  --sidebar-foreground: #375147;
  --sidebar-primary: #8bdefa;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e5e7f5;
  --sidebar-accent-foreground: #375147;
  --sidebar-border: #e5e7f5;
  --sidebar-ring: #8bdefa;
}

.dark {
  --text-primary: var(--color-gray-200);
  --text-secondary: var(--color-gray-300);
  --text-muted: var(--color-gray-400);
  --like-text: var(--color-red-600);
  --background: #06141b;
  --foreground: #e0fff8;
  --card: #11212d;
  --card-foreground: #e0fff8;
  --popover: #252d35;
  --popover-foreground: #e0fff8;
  --primary: #70aeff;
  --primary-foreground: #1c171a;
  --secondary: #323d4a;
  --secondary-foreground: #d1dbd7;
  --muted: #252d35;
  --muted-foreground: #9cafa8;
  --accent: #3d4d5a;
  --accent-foreground: #d1dbd7;
  --destructive: #fca5fc;
  --destructive-foreground: #1c171a;
  --border: #232d3e;
  --input: #323d4a;
  --ring: #aae7fd;
  --chart-1: #aae7fd;
  --chart-2: #8bdefa;
  --chart-3: #5cc7f6;
  --chart-4: #3aabed;
  --chart-5: #2894d9;
  --sidebar: #323d4a;
  --sidebar-foreground: #e0fff8;
  --sidebar-primary: #aae7fd;
  --sidebar-primary-foreground: #1c171a;
  --sidebar-accent: #3d4d5a;
  --sidebar-accent-foreground: #d1dbd7;
  --sidebar-border: #323d4a;
  --sidebar-ring: #aae7fd;
}

@theme inline {
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-like-text: var(--like-text);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar {
  @apply [&::-webkit-scrollbar]:w-2 
  [&::-webkit-scrollbar-track]:bg-transparent
  /* [&::-webkit-scrollbar-thumb]:h-20  */
  [&::-webkit-scrollbar-thumb]:bg-gray-400 
  [&::-webkit-scrollbar-thumb]:rounded-full
  dark:[&::-webkit-scrollbar-track]:bg-neutral-700 
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500;
}

.scrollbar-none {
  @apply [&::-webkit-scrollbar]:w-0
  [&::-webkit-scrollbar-track]:w-0;
}

.word-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
